<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Destination</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'travel_html/style.css' %}">
    </head>
    <body>
        <div id="wrapper">
            <div id="topbar">
                <h2>Welcome, {{ user.name }}</h2>
                <a href="/travels"><button type="button" name="home">Home</button></a>
                <a href="/logout"><button type="button" name="logout">Log Out</button></a>
            </div>
            <h2>{{ trip.destination }}</h2>
            <h2>{{ trip.start }}</h2>
            <ul>
                <li>Planned by: {{ trip.User.name }}</li>
                <li>Description: {{ trip.description }}</li>
                <li>Travel Date : {{ trip.date }}</li>
            </ul>
            <h3>Others joining the group:</h3>
            {% if guests %}
                <ul>
                    {% for guest in guests %}
                        <li>{{ guest.first_name }} {{ guest.last_name }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No one is attending yet!</p>
            {% endif %}
            {% if not joined %}
                <h4><a href="/travels/destination/join/{{ trip.id }}">Join this trip!</a></h4>
            {% endif %}
        </div>
    </body>
</html>
