<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
     <title>Travel Camp</title>
    {% load staticfiles %}
      <link rel="stylesheet" href="../../static/travelapp/css/style.css">

  
</head>

<body>
 <div class="login-page">
        <h2>Welcome to Travel Companion</h2>
        {% if messages %}
            {% for message in messages %}
                <p class="error">{{ message }}</p>
            {% endfor %}
        {% endif %}
  <div class="form">
    <form class="login-form"  action='/login' method='POST'>
        {% csrf_token %}
      <input type="text" name="loginemail" id="loginemail" placeholder="username"/>
      <input type="password" name="loginpassword" id="loginpassword" placeholder="password"/>
        <button type="submit" value="Login"> login</button>
        <br/>
      <p class="message">Not registered? <a href="register">Create an account</a></p>
    </form>
  </div>
</div>
    <script src="../../static/travelapp/js/index.js"></script>

</body>
</html>
